@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');


* {
  /* font-family: 'Jost', sans-serif; */
  font-family: 'Poppins', sans-serif;

}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section_title {
  font-family: 'Jost', sans-serif;
  letter-spacing: 3px; 
  text-align: center;
  color: green;
  display: flex;
  justify-content: center;
}

.sub_title {
  text-align: center;
  letter-spacing: 3px; 
  font-size: 0.9rem;
  color: #8f8f8f;
} 

.content {
  margin-top: 3rem;
} 

.hamburger {
  font-size: 0.6rem;
  color: #000;
  letter-spacing: 2px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}